[Unit]
Description=Simple CGI Server
After=nss-user-lookup.target

[Service]
Type=exec

ExecStart=/usr/sbin/fcgiwrap -s unix:/var/run/fcgiwrap.socket
ExecStartPost=chmod 777 /var/run/fcgiwrap.socket

[Install]
WantedBy=multi-user.target
