[Unit]
Description=Execute ledLoop command

Requires=network.target
After= network.target


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/root/ledloop/ledloop.py

[Install]
WantedBy=multi-user.target