[Unit]
Description=Shutdown ledLoop before poweroff the RPI

DefaultDependencies=no
Before= shutdown.target


[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/home/root/ledloop/off.py

[Install]
WantedBy=shutdown.target