[Unit]
Description=Shutdown ledLoop before poweroff the RPI

DefaultDependencies=no
Before= shutdown.target


[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/home/ledloop/app-ledloop/off.py
User=ledloop

[Install]
WantedBy=shutdown.target